.sNotify_message {
	background-color: white;
	border: 1px solid #808080;
	display: none;
	margin-bottom: 20px;
	padding: 20px;
	position: absolute;
	right: 0px;
	text-align: justify;
	top: 20px;
	width: 250px;
	z-index: 100;
}
.sNotify_close {
	background-color: black;
	color: white;
	cursor: pointer;
	display: block;
	font-weight: bold;
	height: 10px;
	line-height: 10px;
	padding: 3px;
	position: absolute;
	right: -5px;
	text-align: center;
	top: -5px;
	width: 10px;
}
span.sup {
	bottom: 1ex;
	font-size: 80%;
	position: relative;
}