.mainstatus {
	position: absolute;
	z-index: 1;
}
.sidebarslide {
	transform: matrix(1, 0, 0, 1, -150, 0);
	transition: 0.5s;
}
.statusbar {
	background-color: #eeeeee;
	left: 0;
	overflow: hidden;
	padding-top: 10px;
	position: absolute;
	text-align: left;
	text-overflow: ellipsis;
	top: 0;
	transition: 0.5s;
	width: 150px;
	z-index: 1;
}
.statusbar * {
	color: #000;
	display: block;
	font-size: 12.5px;
	padding: 4px 4px 4px 5px;
	text-decoration: none;
	transition: 0.5s;
}