.UserConfig {
	overflow: scroll;
	position: absolute;
	z-index: 100;
}
.UserConfig::-webkit-scrollbar {
	display: none;
}
.UserConfig-content {
	background-color: #fefefe;
	border: 1px solid #888;
	margin: auto;
	padding: 20px;
	width: 80%;
}
.UserConfigClose {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.UserConfigClose:hover,
.UserConfigClose:focus {
	color: #000;
	cursor: pointer;
	text-decoration: none;
}
.UserConfigPos {
	bottom: 10%;
	height: 90%;
	left: 5%;
	top: 5%;
	width: 90%;
}